<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
	{% include "header.html" %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
	<p>Bienvenue sur notre projet de visualisation portant sur une base de données de l'Univers Marvel.</p>
	<p>Notre but sera de détecter des relations et des phénomènes portant sur les intéractions des personnages et de les représenter graphiquement. </p>
	<p>Pour le moment, nous nous sommes concentrer sur les personnages ayant le plus d'intéractions </p>
	<p>A l'avenir, nous allons implémenter d'autres visualisations et un quiz afin tester vos connaissances et déterminer les plus aguerries d'entre vous </p>
</body>
